.values_section{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: 10%;
  margin-right: 10%;
}
.values_section h1{
  text-align: center;
  margin: 2%;
}
.side_by_side {
  display: flex;
  flex-direction: row;
}
.values_list{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid lightgrey;
}
.value_card {
  margin: 2%;
  width: 33%;
}
.chosen_values_list{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid lightgrey;
  height: 70vh;
}
